<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request manager</title>
    <link rel="icon" href="/public/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/landing.css" />
    <script src="/js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <img src="/images/logo.png" alt="">
            <h1>Request Manager<span>Building a better tommorow</span></h1>
        </header>
        <div class="component">
            <button class="cn-button" id="cn-button">Menu</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <li><a href="/about"><span>About</span></a></li>
                    <li><a href="/contact"><span>Contact Us</span></a></li>
                    <li><a href="/"><span>Home</span></a></li>
                    <li><a href="/users/login"><span>Login</span></a></li>
                    <li><a href="/users/register"><span>Register</span></a></li>
                </ul>
            </div>
        </div>

        <section class="p-0">
            <p style="background-color: aquamarine; text-align: center;">The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well.<br> — Ralph Waldo Emerson</p>
            <p style="background-color:lightgreen;text-align: center;">“It’s the action, not the fruit of the action, that’s important. You have to do the right thing. It may not be in your power, may not be in your time, that there’ll be any fruit. But that doesn’t mean you stop doing the right thing. You may
                never know what results come from your action. But if you do nothing, there will be no result.”<br> – Mahatma Gandhi</p>
            <p style="background-color:#62d6eb;text-align: center;">“When you become detached mentally from yourself and concentrate on helping other people with their difficulties, you will be able to cope with your own more effectively. Somehow, the act of self-giving is a personal power-releasing factor.”
                <br>– Norman Vincent Peale</p>


        </section>
    </div>
    <script src="/js/polyfills.js"></script>
    <script src="/js/landing.js"></script>


</html>